

main{
    background-color:var(--egg);
    max-width: 600px; /* Tilpas efter behov */
    margin: 0 auto; /* Centrerer main */
    overflow-x: hidden; /* Forhindrer vandret scroll */
    margin-top: 50px;
}

html {
    scroll-behavior: smooth;
  }

/*Herosektionen */
#hero {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.hero-text {
    width: 65%; 
    font-size: 15px;
    line-height: 25px;
    background-color: rgba(20, 11, 11, 0.038);
    color: var(--brown);
    padding: 10px;
    margin-top: 180px; 
    text-align: left;
}

.image-container {
    position: relative;
    display: flex;
}

h1{
   padding-left: 25px;
}

.logo-text{
    font-family: "Old Standard TT", serif;
    font-weight: 600;
    font-size: 45px;
    color: var(--black);
}

.bogf{
    position: relative;
    top: -10px;
    left: 50px;
    color: var(--brown);
    font-style: italic;
}

.image-box {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 25px;
}

.catchphrase {
    position: absolute; /* Absolut position for at placere billedet */
    z-index: 3; /* Sørger for at billedet ligger over de andre */
    left: -30px;
    top: 185px;
}

.catchphrase img {
    width: 340px; /* Ændr dette for at justere billedets størrelse */
    height: auto; /* Bevarer billedets proportioner */
}

.dark img, .light img{
    width: 200px;
}

.dark img{
    border: 3px solid var(--pink);
}

.dark {
    position: relative;
    top: 80px;
    left: -50px;
    z-index: 1;
}

.light {
    position: absolute;
    top: 40px;
    left: 50px;
    z-index: 2;
}

/*Kategorisektionen */
.categories {
    text-align: center;
    padding: 15px 0;
    background-color: var(--brown);
    margin: 0; 
}

.cat{
    background-color: var(--egg);
    padding: 10px;
}

#category_container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 5px;
    margin: 0 auto;
    padding: 20px;
}

.category-box {
    display: flex;
    justify-content: center; /* Centerer billedet horisontalt */
    align-items: center; /* Centerer billedet vertikalt */
    margin: 14px;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
}

.category-box img {
   object-fit: cover;
   width: 110%;
   height: auto;
   transition: all 1s ease; /* Tilføjer en glidende overgang for filter-effekten */
}

.category-box:hover::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.336);
    z-index: 1;
}

.hero-box{
    display: none;
}







/* ____________________________________________________________________________ */
/* ____________________________________________________________________________ */
/* ____________________________________________________________________________ */
/* ____________________________________________________________________________ */
/* ____________________________________________________________________________ */
/* ____________________________________________________________________________ */
/* MEDIA - INDEX TIL DESKTOP */



@media (min-width: 800px) {
    
    main {
        max-width: 100vw; /* Gør main lige så bred som viewporten */
        margin-top: 70px;
    }

    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    #hero{
        margin-bottom: -430px;
    }

    h1{
        padding-left: 85px;
        color: var(--black);
    }

    .logo-text{
        font-size: 50px
    }

    .bogf{
        font-size: 24px;
        font-weight: 300;
        font-style: italic;
        margin-top: -2px;
        padding-left: 125px;
    }

    .image-container {
        margin-top: 100px;
    }

    .dark{
        left: 120px;
        top: -20px;
    }

    .dark img{
        width: 290px; /* Gør den større på desktop */
        border: 5px solid var(--pink);
    }

    .light{
        left: 355px;
        top: -109px;
    }

    .light img{
        width: 300px;
    }

    .dark{
        position: relative; /* Sørger for at kunne ændre z-index */
        transition: opacity 0.7s ease, z-index 0.7s ease, transform 0.7s ease;
    }
    
    /* Hover-effekt på .dark */
    .dark:hover {
        z-index: 3; /* .big kommer øverst */
        opacity: 0.8; /* Gør den lidt gennemsigtig */
        transform: scale(1.02); /* Lille zoom-effekt */
    }
    
    .hero-text {
        width: 30%; 
        font-size: 19.5px;
        line-height: 35px;
        padding: 35px;
        padding-left: 20px;
        padding-right: 59px;
        margin-left: 170px;
        display: flex;
        position: relative;
        bottom: 410px;
        right: 450px;
        text-align: left;
    }

    .hero-box{
        width: 30%;
        padding: 110px;
        display: flex;
        position: relative;
        bottom: 630px;
        right: 400px;
        background-color: rgba(54, 26, 26, 0.088);
        
    }

    .catchphrase {
        left: 295px;
        top:77px;
        z-index: 4;
    }
    
    .catchphrase img {
        width: 400px; /* Ændr dette for at justere billedets størrelse */
    }

    /* ____________category section______________ */

    #category_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        gap: 30px;
        margin: 20px auto;
        padding: 25px;
       
    }

    .cat{
        padding: 14px;
        margin-top: 46.5px;
        font-size: 24px;
        letter-spacing: 16px;
        font-weight: 100;
    }

    .category-box {
        display: flex;
        justify-content: center; /* Centerer billedet horisontalt */
        align-items: center; /* Centerer billedet vertikalt */
        position: relative;
        margin: 14px;
        top: 6px;
        overflow: hidden;
    }
    
    .category-box img {
       object-fit: cover;
       width: 100%;
       height: auto;
       transition: all 1s ease; /* Tilføjer en glidende overgang for filter-effekten */
    }

    .category-box a {
        display: flex;
        width: 100%;
     }

    
    .category-box a:hover::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.336);
        z-index: 1;
    }
    

}





