main {
  max-width: 1200px !important;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.product_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.list_title {
  display: grid;
  margin-top: 50px;
  margin-bottom: 50px;
  place-self: center;
  text-align: center;
}

.product_list article {
  border: 1px solid black;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 6;
  gap: 1px;
  place-content: center;
}

img {
  width: 250px;
  border-bottom: 1px solid black;
}

article .product_discount {
  margin-top: 5px;
  padding: 5px 30px 5px 30px;
  font-size: 22px;
}

.product_discount {
  position: absolute;
  background-color: #422726;
  color: #fffefa;
  cursor: default;
}

.product_name,
.product_brand,
.product_tags,
.product_price {
  margin-left: 10px;
}

.product_name {
  align-self: start;
  font-size: 22px;
  grid-row: 3;
}

.product_price {
  padding-bottom: 10px;
}

.original_price {
  text-decoration: line-through;
  font-size: 20px;
}

.discounted_price {
  color: #901616;
  font-size: 20px;
}

label {
  display: grid;
  border: 1px solid black;
  place-self: end;
  margin: 5px;
}

.heart-container {
  background-image: url(../assets/like.svg);
  background-size: cover;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .heart-container {
  background-image: url(../assets/like.svg);
  background-color: #2f2f2f;
}
