/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

main {
  margin: 40px;
}

.grid_1-1 {
  position: relative;
  border: 1px solid black;
  img {
    border-bottom: 1px solid black;
  }
}

.indhold {
  padding: 10px;
  p,
  h3,
  h2 {
    padding: 10px;
  }
}

.grid_1-1-1 {
  text-align: center;
  border: 1px solid black;
}

.review {
  text-align: center;
  border-left: 1px solid black;
  border-right: 1px solid black;
  h3 {
    padding: 15px;
  }
}

.rating1,
.rating2 {
  border-bottom: 1px solid black;
}

.rating1,
.rating2,
.rating3 {
  padding: 15px;
  p {
    margin: 10px;
  }
}

.like_button {
  position: absolute;
  right: 3%;
  object-fit: cover;
  width: 10%;
  top: 52%;
}

.price {
  display: flex;
  flex-direction: row;
  .sale_price {
    color: rgb(170, 38, 38);
  }
}

.cart_button {
  background-color: black;
  padding: 10px;
  text-align: center;
  margin: 20px;
  a {
    text-decoration: none;
    color: white;
  }
}
