/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

main {
  margin: 40px;
  place-self: center;
}

.arrow_left {
  width: 5%;
}

.grid_1-1 {
  position: relative;
  border: 1px solid black;
  background: white;
  img {
    border-bottom: 1px solid black;
  }
}

.indhold {
  padding: 10px;
}

.produkt_info {
  p,
  h3,
  h2 {
    padding: 10px;
  }
  h2 {
    width: 18ch;
  }
}

.grid_1-1-1 {
  background: white;
  text-align: center;
  border: 1px solid black;
}

.review {
  background: rgb(255, 243, 248, 0.9);
  text-align: center;
  border-left: 1px solid black;
  border-right: 1px solid black;

  h3 {
    padding: 15px;
  }
}

.skjul {
  display: none;
}

.star {
  display: flex;
  flex: row;
  justify-content: center;
  img {
    width: 8%;
  }
}

.rating1,
.rating2 {
  border-bottom: 1px solid black;
}

.rating1,
.rating2,
.rating3 {
  padding: 15px;
  p {
    margin: 10px;
  }
}

.like_button {
  background-image: url(../assets/like_stroke.svg);
  position: absolute;
  right: 3%;
  object-fit: cover;
  width: 40px;
  height: 40px;
  top: 43%;
  cursor: pointer;
  background-repeat: no-repeat;
}

.like_button:hover {
  background-image: url("../assets/like_brown.svg"); /* Skifter til en anden SVG ved hover */
}

.deal {
  position: absolute;
  top: 2%;
  left: 0;
  background: rgb(66, 39, 38);
  display: inline-block;
  color: white;
  padding: 10px;
}

.price {
  display: flex;
  flex-direction: row;
  .sale_price {
    color: rgb(170, 38, 38);
  }
}

.cart_button {
  background-color: black;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  margin: 10px;

  a {
    text-decoration: none;
    color: white;
  }
}

/* accordion */
.accordion {
  width: 300px;
  margin: 10px auto;
  background-color: white;
  right: 8%;
}

.accordion-header {
  background-color: white;
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid black;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.accordion-header:hover {
  background-color: rgb(214, 212, 212);
}

.accordion-content p {
  padding: 5px;
}

/* desktop version */

@media (min-width: 800px) {
  main {
    max-width: 1000px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .produkt_info {
    h2 {
      width: 30ch;
    }
    p {
      margin-right: 20px;
    }
  }

  .accordion {
    width: 400px;
    position: absolute;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    border-bottom: none;
    img {
      border-right: 1px solid black;
    }
  }

  .cart_button {
    display: inline-block;
    justify-content: center;
    margin-left: 37%;
  }

  .indhold {
    border-bottom: 1px solid black;
  }

  .like_button {
    position: absolute;
    right: 1%;
    object-fit: cover;
    width: 4%;
    top: 3%;
    img {
      border-right: none;
      border-bottom: none;
      padding: 6px;
    }
  }

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .rating1,
  .rating2 {
    border-bottom: none;
    border-right: 1px solid black;
  }

  .rating1,
  .rating2,
  .rating3 {
    padding: 20px;
  }

  .star {
    margin: 25px;
    img {
      width: 10%;
    }
  }
}
